/* styles.css */

/* Reset default browser styles */
*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}



.header {
    /*----Aboutmin-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7), rgba(4,9,30,0.7)), url(images/Logo.jpg);
    background-position: center;
    background-size: cover;
    position: relative;-----*/
    width: 100%;
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 50px;
    display: flex;
    
    align-items: center;
    z-index: 10;
}

.header nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
    position: fixed;
}
.header nav img{
    width: 105px;
    height: 105px;
}

.nav-links{
    flex:1;
    text-align: right;
}

.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.nav-links ul li a{
    color: #000000;
    text-decoration: none;
    font-size: 36px;
}

.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #3c49ff;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-links ul li:hover::after{
    width: 100%;
}
nav .fa{
    display: none;
}

@media(max-width: 700px) {
    .nav-links ul li {
        display: block;
    }
    .nav-links{
        position: absolute;
        background: #bfcae2;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 100;
        transition: 1s;
    }
    nav .fa{
        display: block;
        color: #000000;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }
    .nav-links ul{
        padding: 30px;
    }
}

.home{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}

.home img{
    position: center;
    width: 200px;
    height: 200px;
}

.h1withback{
    background-image: url(images/Logo.jpg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
.h1withback h1 {
    font-size: 80px;
}

.home p{
    margin: 0px 0 0;
    font-size: 14px;
    color: #000000;
}


/*----About-----*/
.about{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}
.about h1{
    font-size: 56px;
    font-weight: 600;
}
.about p{
    color:#000000;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}

.row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}

.course-col{
    flex-basis: 31%;
    background: #bfcae2;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s;
}
h3{
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
}
.course-col:hover{
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.5);
}

/*partners*/
.partners{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px
}
.partners h1{
    font-size: 56px;
}

.campus-col{
    flex-basis: 32%;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
}

.campus-col img{
    width: 100%;
    display: block;
}
.layer{
    background: transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left:0;
    transition: 0.5s;
}
.layer:hover{
    background: #bfcae2;
}
.layer h3{
    width: 100%;
    font-weight: 500;
    color: #000000;
    font-size: 26px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    opacity: 0;
    transition: 0.5s;
}
.layer:hover h3{
    bottom: 49%;
    opacity: 1;
}

/* Upcoming Events Section */
/*#upcoming-events {
    text-align: center;
    padding: 50px 0;
}

.calendar {
    max-width: 100%;
    overflow-x: auto;
}*/

/*Apply*/
.applying{
    width: 100%;
    margin: auto;
    text-align: center;
    padding-top: 100px; 
    /*background-color: #f5f5f5;*/
}

.applying h1{
    font-size: 56px;
}
.applying p{
    color: black;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}

.applywin{
    width: 70%; 
    margin: auto;
    background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url(images/Example.jpg);
    background-position: center;
    background-size: cover;
    text-align: center;
    border-radius: 10px;
    padding-top: 100px;
    padding-bottom: 100px;
}
.applywin h2{
    color: #fff;
    margin-bottom: 10px;
    padding: 0;
}
.applywin p{
    color:#fff;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}
.hero-btn{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 	14px;
    background: transparent;
    position: relative;
    cursor: pointer;
}
.hero-btn:hover{
    border: 1px solid #bfcae2;
    background: #bfcae2;
    transition: 1s; 
}



/* moved to about*/
.apply-col{
    flex-basis: 31%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: left;
}
.apply-col img{
    width: 100%;
    border-radius: 10px;
}
.apply-col p{
    padding: 0;
}
.apply-col h3{
    margin-top: 16px;
    margin-bottom: 15px;
    text-align: left;
}

/*footer*/
.footer{
    width: 100%;
    text-align: center;
    padding: 20px 0;
    background-color: #f5f5f5;
}
.footer h4{
    margin-bottom: 10px;
    margin-top: 20px;
    font-weight: 600;
}
.footer p{
    padding: 0;
}
.icons .fa{
    color: #000000;
    margin: 0 13px;
    cursor: pointer;
    padding: 18px 0;
}



#contact {
    /*background-color: #f5f5f5;*/
    padding: 100px 0;
    text-align: center;
}

#contact h1 {
    font-size: 56px;
    margin-bottom: 30px;
}

.contact-info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.contact-item {
    margin: 0 20px;
}

.contact-item img {
    width: 50px; /* Adjust size as needed */
    height: auto;
    margin-bottom: 10px;
}

.contact-item .fa{
    color: #ff0000;
    margin: 0 13px;
    cursor: pointer;
    font-size: 30px;
}

.contact-item p {
    font-size: 18px;
}





.poppins-thin {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .poppins-extralight {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
  }
  
  .poppins-light {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .poppins-medium {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .poppins-semibold {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
  }
  
  .poppins-bold {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .poppins-extrabold {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: normal;
  }
  
  .poppins-black {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .poppins-thin-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .poppins-extralight-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: italic;
  }
  
  .poppins-light-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .poppins-regular-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .poppins-medium-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .poppins-semibold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: italic;
  }
  
  .poppins-bold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .poppins-extrabold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: italic;
  }
  
  .poppins-black-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: italic;
  }
  
/*body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}

/* Global styles 
body {
    font-family: Arial, sans-serif;
}

/* Static Header 
header {
    background-color: #333;
    color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
}



.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 50px; /* Adjust size as needed
    height: auto;
    margin-right: 5px;
}

.logo span {
    margin: 0 5px;
    color: #fff;
}

.logo h1 {
    font-size: 24px;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
}

/* Sections *
.section {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* HOME Section *
#home {
    background-image: url("picture2.jpg");
    background-size: cover;
    background-position: center;
}

#home .background-image {
    position: relative;
}

#home .background-image img{
    width: 100%;
    height: auto;
    display: block;
}

#home h2 {
    position: absolute;
    top: 50%; /* Align to 50% from the top *
    left: 50%; /* Align to 50% from the left *
    transform: translate(-50%, -50%); /* Center the element *
    color: #dd9611; /* Text color *
    font-size: 36px;
    z-index: 1;
}

/* Other Sections *
.section h2 {
    font-size: 24px;
    margin-bottom: 20px;
}
